@import "../../../stylesheets/partials/_mixins.scss";
@import "../../../stylesheets/partials/_layout.scss";

.main.travel {
  display: block;
}

.travel {
  color: #202020;
  color: var(--black);
  .intro {
    position: relative;
    size: 100% 100vh;
    background-image: url('/static/travel/head.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .description {
    padding: 260px 0 30px 0;
    @include MQ(Pp) {
      padding-top: 60px;
    }
    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .description-column {
      flex: 1 1 50%;
      max-width: 520px;
    }
    &__title {
      font-family: 'Panton-Light', Arial, Helvetica, sans-serif;
    	font-size: 64px;
      font-weight: 300;
      @include MQ(Pp) {
        font-size: 12vw;
      }
    }
    &__text {
      font-family: 'Panton-Bold', Arial, Helvetica, sans-serif;
    	font-size: 24px;
      font-weight: bold;
    	line-height: 1.5;
    	@include MQ(Pp) {
    	  font-size: 5.5vw;
    	}
    }
    &__task {
      margin-top: 12px;
      font-family: 'Panton-Light', Arial, Helvetica, sans-serif;
    	font-size: 48px;
    	font-weight: 300;
    	@include MQ(Pp) {
    	  margin-top: 0;
    	  font-size: 12vw;
    	}
    }
    &__task-detail {
      margin-top: 30px;
      font-family: 'Panton-Light', Arial, Helvetica, sans-serif;
    	font-size: 24px;
    	font-weight: 300;
  	  line-height: 1.5;
  	  @include MQ(Pp) {
  	    margin-top: 15px;
  	    font-size: 5.5vw;
  	  }
    }
  }
  .first-step {
    padding-bottom: 280px;
    @include MQ(Pp) {
      padding-bottom: 30px;
    }
    &__title {
      font-family: 'Panton-Light', Arial, Helvetica, sans-serif;
    	font-size: 48px;
    	font-weight: 300;
    	@include MQ(Pp) {
    	  font-size: 12vw;
    	}
    }
    &__text {
      font-family: 'Panton-Light', Arial, Helvetica, sans-serif;
      font-size: 24px;
      font-weight: 300;
      line-height: 1.5;
      @include MQ(Pp) {
        margin-top: 15px;
        font-size: 5.5vw;
      }
    }
  }
  .travel-image {
    height: 540px;
    padding: 90px 0;
    background-image: url('/static/travel/bg0.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @include MQ(Pp) {
      height: auto;
    }
    &__picture {
      position: absolute;
      width: 100%;
      top: -110px;
      @include MDShadow-5;
      @include MQ(Pp) {
        position: static;
      }
    }
  }
  .adaptivity {
    size: 100% 450px;
    padding: 90px 0;
    background-image: url('/static/travel/bg1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @include MQ(Pp) {
      height: auto;
      padding: 50px 0;
    }
    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: flex-start;
      align-items: flex-start;
      @include MQ(Pp) {
        justify-content: center;
      }
    }
    &__picture {
      position: absolute;
      top: -200px; right: 0;
      height: 655px;
      @include MQ(Pp) {
        position: static;
        height: 400px;
        object-fit: contain
      }
    }
  }
  .workflow {
    padding: 120px 0;
    @include MQ(Pp) {
      padding: 30px 0;
    }
    &__title {
      font-family: 'Panton-Light', Arial, Helvetica, sans-serif;
      font-size: 48px;
      font-weight: 300;
      @include MQ(Pp) {
        font-size: 11vw;
      }
    }
    &__text {
      font-family: 'Panton-Light', Arial, Helvetica, sans-serif;
    	font-size: 24px;
    	font-weight: 300;
    	line-height: 1.67;
      strong {
        font-family: 'Panton-Regular', Arial, Helvetica, sans-serif;
      	font-weight: normal;
      }
      @include MQ(Pp) {
        font-size: 5.5vw;
      }
    }
    .workflow-list {
      display: flex;
      flex-wrap: wrap;
      @include MQ(Pp) {
        justify-content: space-around;
      }
    }
    .workflow-item {
      margin-right: 25px;
      @include MQ(Pp) {
        margin: 0;
      }
      &__icon {
        width: 50px;
        @include MQ(Pp) {
          width: 20vw;
        }
      }
    }
    &__picture {
      width: 100%;
    }
  }
  .concept {
    padding: 120px 0;
    @include MQ(Pp) {
      padding: 30px 0;
    }
    &__title {
      margin-bottom: 20px;
      font-family: 'Panton-Light', Arial, Helvetica, sans-serif;
      font-size: 48px;
      font-weight: 300;
      text-align: center;
      color: #202020;
      color: var(--black);
      @include MQ(Pp) {
        font-size: 11vw;
      }
    }
    &__text {
      width: 80%;
      margin: 0 auto;
      font-family: 'Panton-Light', Arial, Helvetica, sans-serif;
      font-size: 24px;
      font-weight: 300;
      line-height: 1.5;
      text-align: center;
      color: #202020;
      color: var(--black);
      @include MQ(Pp) {
        width: 100%;
        font-size: 5.5vw;
      }
    }
  }
  .travel-preview {
    overflow: hidden;
    padding: 140px 0;
    background-image: linear-gradient(to bottom, #202020, #303030);
    background-image: linear-gradient(to bottom, var(--black), var(--black-two));
    @include MQ(Pp) {
      padding: 60px 0;
    }
    .container {
      display: flex;
      flex-flow: row wrap;
      &._right {
        justify-content: flex-end;
        @include MQ(Pp) {
          justify-content: initial;
        }
      }
      &._left {
        margin-top: 260px;
        @include MQ(Pp) {
          margin-top: 60px;
        }
      }
    }
    .preview-column {
      max-width: 500px;
      @include MQ(Pp) {
        max-width: initial
      }
      &__title {
        font-family: 'Panton-Light', Arial, Helvetica, sans-serif;
        font-size: 48px;
        font-weight: 300;
        text-align: left;
        color: #fff;
        @include MQ(Pp) {
          margin-top: 0;
          font-size: 12vw;
        }
      }
      &__content {
        font-family: 'Panton-Light', Arial, Helvetica, sans-serif;
        font-size: 24px;
        font-weight: 300;
        line-height: 1.5;
        text-align: left;
        color: #fff;
        @include MQ(Pp) {
          font-size: 5.5vw;
        }
      }
      &__picture {
        position: absolute;
        top: 0;
        @include MQ(Pp) {
          position: static;
        }
        &._right {
          width: 680px;
          right: -150px;
          @include MQ(Pp) {
            width: 100%;
          }
        }
        &._left {
          left: -400px;
          @include MQ(Pp) {
            width: 100%;
          }
        }
      }
    }
  }
  .review {
    position: relative;
    height: 810px;
    padding-top: 150px;
    @include MQ(Pp) {
      height: auto;
      padding-top: 30px;
      padding-bottom: 100px;
    }
    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &__back {
      position: absolute;
      top: 65px; left: 0;
      width: 100%;
      opacity: 0.05;
      background-image: linear-gradient(to right, #8cc34b, #dca01e 50%, #ff144b);
      background-image: linear-gradient(to right, var(--booger), var(--brownish-orange) 50%, var(--neon-red));
      font-family: 'Panton-Bold', Arial, Helvetica, sans-serif;
      font-size: 200px;
      font-weight: bold;
      text-align: center;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      @include MQ(Pp) {
        font-size: 25vw
      }
    }
    .review-column {
      flex: 1 1 50%;
      max-width: 520px;
      @include MQ(Pp) {
        max-width: initial;
        flex-basis: 100%
      }
    }
    &__title {
      font-family: 'Panton-Light', Arial, Helvetica, sans-serif;
      font-size: 48px;
      font-weight: 300;
      line-height: 1;
      @include MQ(Pp) {
        font-size: 12vw;
      }
    }
    &__text {
      font-family: 'Panton-Light', Arial, Helvetica, sans-serif;
      font-size: 24px;
      font-weight: 300;
      line-height: 1.5;
      @include MQ(Pp) {
        margin-top: 24px;
        font-size: 5.5vw;
      }
    }
    .review-list {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      @include MQ(Pp) {
        margin-top: 30px;
      }
    }
    .review-list-item {
      width: 240px;
      height: 50px;
      text-align: center;
      line-height: 50px;
      background-color: #fff;
      background-color: var(--whited);
      box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
      @include MQ(Pp) {
        width: 100%;
        margin-bottom: 20px;
      }
      &._big {
        position: relative;
        height: 160px;
        padding: 20px;
        text-align: initial;
        line-height: initial;
        margin-bottom: 90px;
        @include MQ(Pp) {
          margin-bottom: 60px;
        }
        .review-list-item__description {
          position: absolute;
          bottom: -40px; left: 0;
          width: 100%;
          text-align: center;
        }
        .review-list-item__content ,
        .review-list-item__description {
          color: #4a4a4a;
          color: var(--charcoal-grey);
        }
      }
      &._small {
        width: 147px;
        margin-top: 50px;
        @include MQ(Pp) {
          width: auto;
          margin-top: 0;
          flex: 1 1 50%;
        }
      }
      &__title {
        margin: 0;
        font-family: 'Lato', Arial, Helvetica, sans-serif;
        font-size: 18px;
        font-weight: 500;
        line-height: 1;
        color: #ff144b;
        color: var(--neon-red);
      }
      &__content {
        display: block;
        margin: 10px 0 0;
        text-align: center;
        font-family: 'UniSansCaps', Arial, Helvetica, sans-serif;
        font-size: 72px;
        font-weight: 700;
        line-height: 1;
        color: #202020;
        color: var(--black);
      }
      &__description {
        margin: 0;
        font-family: 'Panton-Light', Arial, Helvetica, sans-serif;
        font-size: 18px;
      }
      &._8CC34B {
        color: #fff;
        color: var(--whited);
        background-image: linear-gradient(to right, rgba(140, 195, 75, 0.8), #8cc34b);
        background-image: linear-gradient(to right, var(--booger--80), var(--booger));
        box-shadow: 0 10px 20px 0 rgba(140, 195, 75, 0.6);
      }
      &._FFBE46 {
        color: #fff;
        color: var(--whited);
        background-image: linear-gradient(to right, rgba(255, 190, 70, 0.8), #ffbe46);
        background-image: linear-gradient(to right, var(--butterscotch-80), var(--butterscotch));
        box-shadow: 0 10px 20px 0 rgba(255, 190, 70, 0.6);
      }
      &._FF144B {
        color: #fff;
        color: var(--whited);
        background-image: linear-gradient(to right, rgba(255, 20, 75, 0.8), #ff144b);
        background-image: linear-gradient(to right, var(--neon-red-80), var(--neon-red));
        box-shadow: 0 10px 20px 0 rgba(255, 20, 75, 0.6);
      }
      &._202020 {
        color: #fff;
        color: var(--whited);
        background-image: linear-gradient(to right, rgba(32, 32, 32, 0.8), #202020);
        background-image: linear-gradient(to right, var(--black-80), var(--black));
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
      }
      &._F7F7F7 {
        background-image: linear-gradient(to right, rgba(247, 247, 247, 0.8), #f7f7f7);
        background-image: linear-gradient(to right, rgba(247, 247, 247, 0.8), var(--white));
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
      }
    }
  }
}
