@import "../../../stylesheets/partials/_mixins.scss";
@import "../../../stylesheets/partials/_layout.scss";

.main.v-dele {
  display: block;
}

.v-dele {
  color: #202020;
  color: var(--black);
  .intro {
    size: 100% 90vh;
    padding-top: 25vh;
  	opacity: 0.9;
  	background-image: linear-gradient(241deg, #50e3c2, #24a7ef 99%, #1c9bf7);
    background-image: linear-gradient(241deg, var(--aqua-marine), #24a7ef 99%, var(--azure));
    @include MQ(Tp) {
      height: auto;
      padding: 120px 0 80px 0;
    }
    .container {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      @include MQ(Tp) {
        flex-flow: column wrap;
        align-items: center;
        width: 90%;
      }
    }
    .intro-column {
      flex: 1 1 48%;
      max-width: 48%;
      @include MQ(Tp) {
        max-width: initial;
      }
    }
    &__title {
      margin-top: 50px;
      font-size: 36px;
      font-weight: 800;
      line-height: 1.39;
      color: #404552;
      @include MQ(Tp) {
        margin-top: initial;
      }
    }
    &__sub-title {
      margin-top: 20px;
      font-family: 'Panton-Light', Arial, Helvetica, sans-serif;
      font-size: 18px;
      line-height: 1.56;
      color: #404552;
    }
    &__video {
      size: 48% 400px;
    	object-fit: contain;
      background-color: #fff;
      background-color: var(--white);
      box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.3);
      @include MQ(Tp) {
        width: 100%;
        margin-top: 50px;
      }
    }
    @include MQ(Pp) {
      size: 100% 45vh;
      &__title {
        display: none;
      }
      &__sub-title {
        display: none;
      }
      &__video {
        position: absolute;
        top: -25%; left: 50%;
        size: 85% 30vh;
        transform: translateX(-50%)
      }
    }
  }
  .description {
    padding: 150px 0 30px 0;
    @include MQ(Pp) {
      padding-top: 60px;
    }
    @include MQ(Tp) {
      padding: 40px 0;
    }
    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      @include MQ(Tp) {
        flex-flow: column wrap;
        width: 90%;
      }
    }
    .description-column {
      flex: 1 1 50%;
      max-width: 520px;
      @include MQ(Tp) {
        max-width: initial;
      }
    }
    &__title {
      font-family: 'Panton-Bold', Arial, Helvetica, sans-serif;
      font-size: 36px;
      font-weight: 800;
      @include MQ(Pp) {
        font-size: 12vw;
      }
    }
    &__text {
      font-family: 'Panton-Bold', Arial, Helvetica, sans-serif;
    	font-size: 24px;
      font-weight: bold;
    	line-height: 1.5;
    	@include MQ(Pp) {
    	  font-size: 5.5vw;
    	}
    }
    &__task {
      font-family: 'Panton-Light', Arial, Helvetica, sans-serif;
    	font-size: 36px;
    	font-weight: 300;
    	@include MQ(Pp) {
        margin-top: 0;
    	  font-size: 12vw;
    	}
    }
    &__task-detail {
      font-family: 'Panton-Light', Arial, Helvetica, sans-serif;
    	font-size: 24px;
    	font-weight: 300;
  	  line-height: 1.5;
  	  @include MQ(Pp) {
        margin-top: 15px;
  	    font-size: 5.5vw;
  	  }
    }
  }
  .first-step {
    padding-bottom: 240px;
    @include MQ(Pp) {
      padding-bottom: 30px;
    }
    .container {
      @include MQ(Tp) {
        flex-flow: column wrap;
        width: 90%;
      }
    }
    &__title {
      font-family: 'Panton-Light', Arial, Helvetica, sans-serif;
    	font-size: 36px;
    	font-weight: 300;
    	@include MQ(Pp) {
    	  font-size: 12vw;
    	}
    }
    &__text {
      font-family: 'Panton-Light', Arial, Helvetica, sans-serif;
      font-size: 24px;
      font-weight: 300;
      line-height: 1.5;
      @include MQ(Pp) {
        margin-top: 15px;
        font-size: 5.5vw;
      }
    }
  }
  .adaptivity {
    size: 100% 1000px;
    padding: 90px 0;
    background-image: linear-gradient(235deg, #ffffff, #969696);
    @include MQ(Pp) {
      height: auto;
      padding: 30px 0;
    }
    @include MQ(Tp) {
      height: auto;
      padding: 60px 0;
    }
    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: flex-start;
      align-items: flex-start;
      @include MQ(Tp) {
        width: 90%;
      }
    }
    .adaptivity-column {
      width: 422px;
      @include MQ(Pp) {
        width: 100%;
      }
      @include MQ(Tp) {
        width: 45%;
      }
    }
    &__title {
      font-family: 'Panton-Light', Arial, Helvetica, sans-serif;
    	font-size: 48px;
    	font-weight: 300;
      line-height: 1;
      @include MQ(Pp) {
        margin-top: 30px;
        font-size: 12vw;
      }
      @include MQ(Tp) {
        margin-top: 40px;
      }
    }
    &__text {
      font-family: 'Panton-Light', Arial, Helvetica, sans-serif;
      font-size: 24px;
      font-weight: 300;
      line-height: 1.5;
      @include MQ(Pp) {
        font-size: 5.5vw;
      }
    }
    &__picture {
      &._first {
        position: absolute;
        top: -275px; left: -23px;
        width: 590px;
        @include MQ(Pp) {
          position: static;
          width: 100%;
        }
        @include MQ(Tp) {
          top: auto;
          width: 50%;
        }
      }
      &._second {
        width: 100%;
        margin-top: 240px;
        @include MDShadow-5;
        @include MQ(Pp) {
          margin-top: 30px;
        }
        @include MQ(Tp) {
          margin-top: 100px;
        }
      }
    }
  }
  .workflow {
    padding-top: 560px;
    @include MQ(Pp) {
      padding-top: 30px;
    }
    @include MQ(Tp) {
      padding: 60px 0;
      .container {
        width: 90%;
      }
    }
    &__title {
      font-family: 'Panton-Light', Arial, Helvetica, sans-serif;
      font-size: 48px;
      font-weight: 300;
      @include MQ(Pp) {
        font-size: 11vw;
      }
    }
    &__text {
      font-family: 'Panton-Light', Arial, Helvetica, sans-serif;
    	font-size: 24px;
    	font-weight: 300;
    	line-height: 1.67;
      strong {
        font-family: 'Panton-Regular', Arial, Helvetica, sans-serif;
      	font-weight: normal;
      }
      @include MQ(Pp) {
        font-size: 5.5vw;
      }
    }
    .workflow-list {
      display: flex;
      flex-wrap: wrap;
      @include MQ(Pp) {
        justify-content: space-around;
      }
    }
    .workflow-item {
      margin-right: 25px;
      @include MQ(Pp) {
        margin: 0;
      }
      &__icon {
        width: 50px;
        @include MQ(Pp) {
          width: 12.5vw;
        }
      }
    }
    &__picture {
      width: 100%;
    }
  }
  .review {
    position: relative;
    height: 810px;
    padding-top: 150px;
    background-image: linear-gradient(241deg, #50e3c2, #1c9bf7);
    background-image: linear-gradient(241deg, var(--aqua-marine), var(--azure));
    @include MQ(Pp) {
      height: auto;
      padding-top: 30px;
      padding-bottom: 100px;
    }
    @include MQ(Tp) {
      height: initial;
      padding: 60px 0 160px 0;
    }
    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      @include MQ(Tp) {
        flex-direction: column;
        width: 90%;
      }
    }
    &__back {
      position: absolute;
      top: 65px; left: 0;
      width: 100%;
      opacity: 0.05;
      background-image: linear-gradient(to right, #009d2f, #d0021b);
      font-family: 'Panton-Bold', Arial, Helvetica, sans-serif;
      font-size: 200px;
      line-height: 1;
      text-align: center;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      @include MQ(Pp) {
        font-size: 25vw
      }
    }
    .review-column {
      flex: 1 1 50%;
      max-width: 520px;
      @include MQ(Pp) {
        max-width: initial;
        flex-basis: 100%
      }
      @include MQ(Tp) {
        max-width: initial;
      }
    }
    &__title {
      font-family: 'Panton-Light', Arial, Helvetica, sans-serif;
      font-size: 48px;
      font-weight: 300;
      line-height: 1;
      @include MQ(Pp) {
        font-size: 12vw;
      }
    }
    &__text {
      font-family: 'Panton-Light', Arial, Helvetica, sans-serif;
      font-size: 24px;
      font-weight: 300;
      line-height: 1.5;
      @include MQ(Pp) {
        margin-top: 24px;
        font-size: 5.5vw;
      }
    }
    .review-list {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      @include MQ(Pp) {
        margin-top: 30px;
      }
    }
    .review-list-item {
      width: 240px;
      height: 50px;
      text-align: center;
      line-height: 50px;
      background-color: #fff;
      background-color: var(--whited);
      box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
      @include MQ(Pp) {
        width: 100%;
        margin-bottom: 20px;
      }
      @include MQ(Tp) {
        flex: 1 1 25%;
        max-width: 22.5%;
        &:last-child {
          max-width: 100%;
          margin-top: 20px !important;
        }
      }
      &._big {
        position: relative;
        height: 160px;
        padding: 20px;
        text-align: initial;
        line-height: initial;
        margin-bottom: 90px;
        @include MQ(Pp) {
          margin-bottom: 60px;
        }
        @include MQ(Tp) {
          flex: 1 1 45%;
          max-width: 45%;
        }
        .review-list-item__description {
          position: absolute;
          bottom: -40px; left: 0;
          width: 100%;
          text-align: center;
        }
        .review-list-item__content ,
        .review-list-item__description {
          color: #4a4a4a;
          color: var(--charcoal-grey);
        }
      }
      &._small {
        width: 147px;
        margin-top: 50px;
        @include MQ(Pp) {
          width: auto;
          margin-top: 0;
          flex: 1 1 50%;
        }
        @include MQ(Tp) {
          width: initial;
          margin-top: initial;
        }
      }
      &__title {
        margin: 0;
        font-family: 'Lato', Arial, Helvetica, sans-serif;
        font-size: 18px;
        font-weight: 500;
        line-height: 1;
        color: #ff144b;
        color: var(--neon-red);
      }
      &__content {
        display: block;
        margin: 20px auto 0 auto;
      }
      &__description {
        margin: 0;
        font-family: 'Panton-Light', Arial, Helvetica, sans-serif;
        font-size: 18px;
      }
      &._009D2F {
        color: #fff;
        color: var(--whited);
        background-image: linear-gradient(to right, rgba(0, 157, 47, 0.8), #009d2f);
        box-shadow: 0 10px 20px 0 rgba(0, 157, 47, 0.6);
      }
      &._D0021B {
        color: #fff;
        color: var(--whited);
        background-image: linear-gradient(to right, rgba(208, 2, 27, 0.8), #d0021b);
        box-shadow: 0 10px 20px 0 rgba(208, 2, 27, 0.6);
      }
      &._4A4A4A {
        color: #fff;
        color: var(--whited);
        background-image: linear-gradient(to right, rgba(74, 74, 74, 0.8), #4a4a4a);
        background-image: linear-gradient(to right, rgba(74, 74, 74, 0.8), var(--charcoal-grey));
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
      }
      &._F0F4F7 {
        background-image: linear-gradient(to right, rgba(240, 244, 247, 0.8), #f0f4f7);
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
      }
      &._FFFFFF {
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0.8), #ffffff);
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
      }
    }
  }
}
