@import "../../../stylesheets/partials/_mixins.scss";

.main.v-dele {
  display: block;
}

.v-dele {
  color: #202020;
  color: var(--black);
  .intro {
    position: relative;
    size: 100% 85vh;
  	opacity: 0.9;
  	background-image: linear-gradient(241deg, #50e3c2, #24a7ef 99%, #1c9bf7);
  	background-image: linear-gradient(241deg, var(--aqua-marine), #24a7ef 99%, var(--azure));
    &__video {
      position: absolute;
      top: 180px;
      @include center(x);
      size: 80% 90%;
    	object-fit: contain;
      background-color: #fff;
      background-color: var(--white);
    	box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.3);
    }
  }
  .description {
    padding: 260px 0 30px 0;
    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .description-column {
      flex: 1 1 50%;
      max-width: 520px;
    }
    &__title {
      font-family: 'Panton-Light', Arial, Helvetica, sans-serif;
    	font-size: 64px;
      font-weight: 300;
    }
    &__text {
      font-family: 'Panton-Bold', Arial, Helvetica, sans-serif;
    	font-size: 24px;
      font-weight: bold;
    	line-height: 1.5;
    }
    &__task {
      margin-top: 12px;
      font-family: 'Panton-Light', Arial, Helvetica, sans-serif;
    	font-size: 48px;
    	font-weight: 300;
    }
    &__task-detail {
      margin-top: 30px;
      font-family: 'Panton-Light', Arial, Helvetica, sans-serif;
    	font-size: 24px;
    	font-weight: 300;
  	  line-height: 1.5;
    }
  }
  .first-step {
    padding-bottom: 240px;
    &__title {
      font-family: 'Panton-Light', Arial, Helvetica, sans-serif;
    	font-size: 48px;
    	font-weight: 300;
    }
    &__text {
      font-family: 'Panton-Light', Arial, Helvetica, sans-serif;
      font-size: 24px;
      font-weight: 300;
      line-height: 1.5;
    }
  }
  .adaptivity {
    size: 100% 1000px;
    padding: 90px 0;
  	background-image: linear-gradient(235deg, #ffffff, #969696);
    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: flex-start;
      align-items: flex-start;
    }
    .adaptivity-column {
      width: 422px;
    }
    &__title {
      font-family: 'Panton-Light', Arial, Helvetica, sans-serif;
    	font-size: 48px;
    	font-weight: 300;
      line-height: 1;
    }
    &__text {
      font-family: 'Panton-Light', Arial, Helvetica, sans-serif;
      font-size: 24px;
      font-weight: 300;
      line-height: 1.5;
    }
    &__picture {
      &._first {
        position: absolute;
        top: -275px; left: -23px;
        width: 590px;
      }
      &._second {
        margin-top: 240px;
        @include MDShadow-5;
      }
    }
  }
  .workflow {
    padding-top: 560px;
    &__title {
      font-family: 'Panton-Light', Arial, Helvetica, sans-serif;
      font-size: 48px;
      font-weight: 300;
    }
    &__text {
      font-family: 'Panton-Light', Arial, Helvetica, sans-serif;
    	font-size: 24px;
    	font-weight: 300;
    	line-height: 1.67;
      strong {
        font-family: 'Panton-Regular', Arial, Helvetica, sans-serif;
      	font-weight: normal;
      }
    }
    .workflow-list {
      display: flex;
      flex-wrap: wrap;
    }
    .workflow-item {
      margin-right: 25px;
      &__icon {
        width: 50px;
      }
    }
    &__picture {
      width: 100%;
    }
  }
  .review {
    position: relative;
    height: 810px;
    padding-top: 150px;
    background-image: linear-gradient(241deg, #50e3c2, #1c9bf7);
    background-image: linear-gradient(241deg, var(--aqua-marine), var(--azure));
    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &__back {
      position: absolute;
      top: 65px; left: 0;
      width: 100%;
      opacity: 0.05;
      background-image: linear-gradient(to right, #009d2f, #d0021b);
      font-family: 'Panton-Bold', Arial, Helvetica, sans-serif;
      font-size: 200px;
      line-height: 1;
      text-align: center;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .review-column {
      flex: 1 1 50%;
      max-width: 520px;
    }
    &__title {
      font-family: 'Panton-Light', Arial, Helvetica, sans-serif;
      font-size: 48px;
      font-weight: 300;
      line-height: 1;
    }
    &__text {
      font-family: 'Panton-Light', Arial, Helvetica, sans-serif;
      font-size: 24px;
      font-weight: 300;
      line-height: 1.5;
    }
    .review-list {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
    }
    .review-list-item {
      width: 240px;
      height: 50px;
      text-align: center;
      line-height: 50px;
      background-color: #fff;
      background-color: var(--whited);
      box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
      &._big {
        position: relative;
        height: 160px;
        padding: 20px;
        text-align: initial;
        line-height: initial;
        margin-bottom: 90px;
        .review-list-item__description {
          position: absolute;
          bottom: -40px; left: 0;
          width: 100%;
          text-align: center;
        }
        .review-list-item__content ,
        .review-list-item__description {
          color: #4a4a4a;
          color: var(--charcoal-grey);
        }
      }
      &._small {
        width: 147px;
        margin-top: 50px;
      }
      &__title {
        margin: 0;
        font-family: 'Lato', Arial, Helvetica, sans-serif;
        font-size: 18px;
        font-weight: 500;
        line-height: 1;
        color: #ff144b;
        color: var(--neon-red);
      }
      &__content {
        display: block;
        margin: 10px 0 0;
        text-align: center;
        font-family: 'Lato', Arial, Helvetica, sans-serif;
        font-size: 72px;
        font-weight: 700;
        line-height: 1;
        color: #202020;
        color: var(--black);
      }
      &__description {
        margin: 0;
        font-family: 'Panton-Light', Arial, Helvetica, sans-serif;
        font-size: 18px;
      }
      &._009D2F {
        color: #fff;
        color: var(--whited);
        background-image: linear-gradient(to right, rgba(0, 157, 47, 0.8), #009d2f);
        box-shadow: 0 10px 20px 0 rgba(0, 157, 47, 0.6);
      }
      &._D0021B {
        color: #fff;
        color: var(--whited);
        background-image: linear-gradient(to right, rgba(208, 2, 27, 0.8), #d0021b);
        box-shadow: 0 10px 20px 0 rgba(208, 2, 27, 0.6);
      }
      &._4A4A4A {
        color: #fff;
        color: var(--whited);
        background-image: linear-gradient(to right, rgba(74, 74, 74, 0.8), #4a4a4a);
        background-image: linear-gradient(to right, rgba(74, 74, 74, 0.8), var(--charcoal-grey));
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
      }
      &._F0F4F7 {
        background-image: linear-gradient(to right, rgba(240, 244, 247, 0.8), #f0f4f7);
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
      }
      &._FFFFFF {
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0.8), #ffffff);
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
      }
    }
  }
}
