@import "../../../stylesheets/partials/_mixins.scss";
@import "../../../stylesheets/partials/_layout.scss";

@import "~spinthatshit/src/loaders.scss";

.main {
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
  background-size: cover;
  background-position: 50vw top;
  background-repeat: no-repeat;
  @include MQ(Pp) {
    overflow-x: hidden;
    position: relative;
  }
  @include MQ(Tp) {
    flex-flow: column wrap;
    justify-content: initial;
  }
  &._fallback {
    display: block;
  }
}

.case,
.preview {
  width: 50%;
  min-height: 100%;
  @include MQ(Pp) {
    width: 100%;
  }
  @include MQ(Tp) {
    width: 100%;
  };
}

.case {
  z-index: 100;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  padding: 0 70px;
  background-color: #fff;
  background-color: var(--whited);
  @include MQ(Pp) {
    margin-top: 75vh;
    min-height: 85vh;
    padding: 0 25px 0 25px;
    justify-content: initial;
    align-content: initial;
    align-items: initial;
  }
  @include MQ(Tp) {
    position: absolute;
    bottom: 0;
    left: 0;
    justify-content: initial;
    width: 100%;
    min-height: initial;
    padding: 48px 70px 75px 70px;
  };
  .case-container {
    max-width: 470px;
    @include MQ(Tp) {
      max-width: 100%;
    }
  }
  &__description {
    width: 470px;
    font-size: 18px;
    line-height: 1.56;
    text-align: left;
    color: #4a4a4a;
    color: var(--charcoal-grey);
    @include MQ(Pp) {
      width: 100%;
      font-size: 5vw;
      line-height: 1.75
    }
    @include MQ(Tp) {
      width: 100%;
    }
  }
  &__current {
    z-index: 101;
    position: absolute auto auto 70px 11.5%;
    opacity: 0.1;
    font-size: 144px;
    font-family: 'Panton-Bold', Arial, Helvetica, sans-serif;
    line-height: 1;
    color: #4a4a4a;
    color: var(--charcoal-grey);
    @include MQ(Pp) {
      position: absolute calc( 65vh + 135px ) -80px auto auto;
      transform: rotate(-90deg)
    }
    @include MQ(Tp) {
      top: auto;
      bottom: 30px;
      right: 50px;
      left: auto;
    };
  }
  &__link {
    position: relative;
    display: block;
    size: 50px;
    border-radius: 100px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    transition: .3s ease-in-out;
    @include MQ(Pp) {
      width: 100%;
      margin-top: 40px;
    }
    @include MQ(Tp) {
      width: 270px;
    };
    &._vdele {
      background-image: linear-gradient(225deg, #50e3c2, #1c9bf7);
      background-image: linear-gradient(225deg, var(--aqua-marine), var(--azure));
    }
    &._travel {
      background-image: linear-gradient(45deg, #8cc34b, rgba(140, 195, 75, 0.8));
      background-image: linear-gradient(45deg, var(--booger), var(--booger--80));
    }
    &._mpu {
      background-color: #eb681a;
    }
  }
  &__link-icon {
    position: absolute;
    @include center(xy);
    width: 25px;
    @include MQ(Pp) {
      left: 25px;
    }
    @include MQ(Tp) {
      left: 25px;
    }
  }
  &__link-text {
    display: none;
    @include MQ(Pp) {
      position: absolute;
      @include center(xy);
      display: block;
      width: 100%;
      font-family: 'Panton-Bold', Arial, Helvetica, sans-serif;
      font-size: 18px;
      font-weight: bold;
      text-align: center;
      color: #fff;
      color: var(--whited)
    }
    @include MQ(Tp) {
      position: absolute;
      @include center(xy);
      display: block;
      width: 100%;
      font-family: 'Panton-Bold', Arial, Helvetica, sans-serif;
      font-size: 18px;
      font-weight: bold;
      text-align: center;
      color: #fff;
      color: var(--whited)
    }
  }
}

.case-section {
  position: relative;
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
  background-size: cover;
  background-position: 50vw top;
  background-repeat: no-repeat;
  .case-container {
    z-index: 100;
    position: relative;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-end;
    width: 50%;
    min-height: 100%;
    padding: 0 70px;
    background-color: #fff;
    background-color: var(--whited);
    @include MQ(Pp) {
      width: 100%;
    }
    @include MQ(Tp) {
      width: 100%;
    }
  }
}

.case-title {
  position: relative;
  width: 470px;
  font-family: 'Panton-Bold', Arial, Helvetica, sans-serif;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.4;
  cursor: pointer;
  &::after {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 0;
    height: 2px;
    transition: .3s ease-out;
  }
  &:hover::after {
    width: 65%;
  }
  &._vdele::after {
    background-image: linear-gradient(259deg, #50e3c2, #1c9bf7);
    background-image: linear-gradient(259deg, var(--aqua-marine), var(--azure));
  }
  &._travel::after {
    background-color: rgba(140, 195, 75, 0.99);
    background-color: var(--booger-99);
  }
  &._mpu::after {
    background-color: #f6a623;
    background-color: var(--squash);
  }
  @include MQ(Pp) {
    width: 100%;
    margin-top: 40px;
    font-size: 10vw
  }
  @include MQ(Tp) {
    width: 100%;
  }
  &__title {
    @include MQ(Pp) {
      font-size: 10vw
    }
    &._vdele {
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      background-image: linear-gradient(259deg, #50e3c2, #1c9bf7);
      background-image: linear-gradient(259deg, var(--aqua-marine), var(--azure));
    }
    &._travel {
      color: rgba(140, 195, 75, 0.99);
      color: var(--booger-99);
    }
    &._mpu {
      color: #f6a623;
      color: var(--squash);
    }
  }
}

.case-navigation {
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 100px;
  transform: translate( -50%, -50%);
  @include MQ(Pp) {
    width: 100%;
    top: initial;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  };
  @include MQ(Tp) {
    display: none;
  };
  @include MQ(Tl) {
    left: 4vw;
  }
}

.navigation-list {
  @include MQ(Pp) {
    display: none;
  }
}

.navigation-item {
  size: 40px 4px;
  margin: 40px 0;
  &__link {
    display: block;
    size: 40px 4px;
    background-color: rgba(74, 74, 74, 0.2);
    background-color: var(--charcoal-grey-20);
    border-radius: 5px;
    transition:
      box-shadow .2s ease-in-out,
      background-color .2s ease-in-out;
    &._vdele-active,
    &._travel-active,
    &._mpu-active {
      @include MDShadow-1;
    }
    &._vdele-active {
      background-color: #1c9bf7;
      background-color: var(--azure);
    }
    &._travel-active {
      background-color: rgba(140, 195, 75, 0.99);
      background-color: var(--booger-99);
    }
    &._mpu-active {
      background-color: #eb681a;
    }
  }
}

.preview {
  z-index: 10;
  position: absolute;
  top: 0; right: 0;
  display: flex;
  align-items: center;
  cursor: pointer;
  @include MQ(Pp) {
    position: fixed;
    width: 100%;
    padding: 0 10px;
    max-height: 75vh;
    min-height: 75vh;
  }
  @include MQ(Tp) {
    height: 70vh;
    min-height: initial;
  }
  &._fallback {
    
  }
  &._vdele {
    opacity: 0.9;
    background-image: linear-gradient(240deg, #50e3c2, #1c9bf7);
    background-image: linear-gradient(240deg, var(--aqua-marine), var(--azure));
  }
  &._travel {
    opacity: 0.9;
    background-image: linear-gradient(41deg, #202020, rgba(255, 255, 255, 0.75));
    background-image: linear-gradient(41deg, var(--black), rgba(255, 255, 255, 0.75));
  }
  &._mpu {}
  &__background {
    z-index: -10;
    position: absolute;
    top: 0;
    right: 0;
    max-height: 100vh
  }
  &__picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    object-fit: contain;
    object-position: center;
    transition: transform .3s ease-in-out;
    .preview &:hover {
      transform: scale3d( 1.025 , 1.025 , 1.025 )
    }
    @include MQ(Pp) {
      width: 100%;
    }
  }
}

.action-block {
  display: none;
  @include MQ(Pp) {
    display: block;
  }
  @include MQ(Tp) {
    display: block;
  }
}

.bottom-load {
  display: none;
  width: 100%;
  justify-content: center;
  align-items: center;
  line-height: 30px;
  &__icon {
    position: absolute;
    left: 50%;
    size: 30px;
    transform-origin: 0;
    transform: rotate(90deg) translateX(-50%);
    transition: transform .25s ease;
    &._loading {
      transform: rotate(0deg) translateX(-50%);
    }
    &._done {
      transform: rotate(-90deg) translateX(-50%);
    }
  }
  &__arrow {
    opacity: 0.3;
    width: 25px;
    height: 30px;
    margin-right: 5px;
    transform: rotate(90deg);
  }
  &__text {
    opacity: 0.3;
    font-family: 'Panton-Bold', Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #404552;
    color: var(--charcoal-grey-two);
  }
  @include MQ(Pp) {
    display: flex;
  }
  @include MQ(Tp) {
    display: flex;
  }
}
